<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon.png">
    <title>BitZy |Crypto Portfolio Manager</title>
    <!-- Bootstrap Core CSS -->
    <link href="static/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="static/css/lib/calendar2/semantic.ui.min.css" rel="stylesheet">
    <link href="static/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="static/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="static/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="static/css/helper.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <!-- Logo icon -->
                        <b><img src="static/images/bitcoin.svg" alt="homepage" class="dark-logo" /></b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span><img src="static/images/bitcoin.svg" alt="homepage" class="dark-logo" height="35px"/> BitZy</span> 
                    </a>
                </div>
                <!-- End Logo -->

        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-usd f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>$568120</h2>
                                    <p class="m-b-0">Invested Value</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-bitcoin f-s-40 color-warning"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>1178</h2>
                                    <p class="m-b-0">Portfolio Value</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-bank f-s-40 color-danger"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>-49</h2>
                                    <p class="m-b-0">Withdraw</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-money f-s-40 color-success"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>+1500.36</h2>
                                    <p class="m-b-0">Profit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row bg-white m-l-0 m-r-0 box-shadow ">

                    <!-- column -->
                    <div class="container-fluid">
                        <!-- Start Page Content -->
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="card">
                                    <div class="card-block">
                                        <h4 class="card-title">Trade History</h4>
                                        <div class="ct-area-ln-chart"></div>
                                    </div>
                                  
                                </div>
                            
                            
                            
                      
                        <!-- End PAge Content -->
                    </div>
                    <!-- column -->

                    <!-- column -->
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body browser">
                                <p class="f-w-600">Bitcoin(BTC)<span class="pull-right">$15,168</span></p>
                                <div class="progress ">
                                    <div role="progressbar" style="width: 90%; height:8px;" class="progress-bar bg-danger wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                                </div>

                                <p class="m-t-30 f-w-600">Ethereum(ETH)<span class="pull-right">$413.16</span></p>
                                <div class="progress">
                                    <div role="progressbar" style="width: 70%; height:8px;" class="progress-bar bg-info wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                                </div>

                                <p class="m-t-30 f-w-600">Bitcoin Cash(BCH)<span class="pull-right">$247.86</span></p>
                                <div class="progress">
                                    <div role="progressbar" style="width: 50%; height:8px;" class="progress-bar bg-success wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                                </div>

                                <p class="m-t-30 f-w-600">Lite Coin(LTC)<span class="pull-right">$58.72</span></p>
                                <div class="progress">
                                    <div role="progressbar" style="width: 30%; height:8px;" class="progress-bar bg-warning wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                                </div>

								<p class="m-t-30 f-w-600">Ripple(XRP)<span class="pull-right">$0.24</span></p>
                                <div class="progress m-b-30">
                                    <div role="progressbar" style="width: 10%; height:8px;" class="progress-bar bg-success wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                    <!-- column -->
                </div>
                <div class="row">
					<div class="col-lg-3">
                        <div class="card bg-dark">
                            <div class="testimonial-widget-one p-17">
                                <div class="testimonial-widget-one owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="testimonial-content">
                                            <div class="testimonial-author"><big>News</big></div><br>
                                            <img class="testimonial-author-img" src="static/images/avatar/2.jpg" alt="" />
                                            <div class="testimonial-author">The New York Times</div>
                                

                                            <div class="testimonial-text">
                                                <i class="fa fa-quote-left"></i>  Bitcoin’s surge during U.S. election week has pulled cryptocurrency performance further ahead of major asset classes this year.

                                                
                                                <i class="fa fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimonial-content">
                                            <div class="testimonial-author"><big>News</big></div><br>
                                            <img class="testimonial-author-img" src="static/images/avatar/3.jpg" alt="" />
                                            <div class="testimonial-author">Los Angeles Times</div>
                                            

                                            <div class="testimonial-text">
                                                <i class="fa fa-quote-left"></i>  If you’re merely looking for asset diversification, a common strategy to minimize long-term investment risk, you only need to find a correlation between asset types that isn’t highly positive. 
                                                <i class="fa fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimonial-content">
                                            <div class="testimonial-author"><big>News</big></div><br>
                                            <img class="testimonial-author-img" src="static/images/avatar/1.png" alt="" />
                                            <div class="testimonial-author">USA Today</div>
                                         

                                            <div class="testimonial-text">
                                             
                                                <i class="fa fa-quote-left"></i> Etherium is the second most successful digital currency, with its price in India at Rs. 33,090 on BuyUcoin. Bitcoin Cash is up for grabs for Rs. 19,610, Monero is currently priced at Rs. 9,459, Litecoin is priced at Rs. 4,829, and Ripple is priced at just Rs. 20.
                                                <i class="fa fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="item">
                                        <div class="testimonial-content">
                                            <div class="testimonial-author"><big>News</big></div><br>
                                            <img class="testimonial-author-img" src="static/images/avatar/6.png" alt="" />
                                            <div class="testimonial-author">The Guardian</div>
                                       

                                            <div class="testimonial-text">
                                          
                                                <i class="fa fa-quote-left"></i>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .
                                                <i class="fa fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="card">
                            <div class="card-title">
                                <h4>Transactions </h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Platform/Wallet</th>
                                                <th>Cryptocurrency</th>
                                                <th>Quantity</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>
                                                    <div class="round-img">
                                                    </div>
                                                </td>
                                                <td>Coinbase</td>
                                                <td><span>Bitcoin</span></td>
                                                <td><span>0.2 btc</span></td>
                                                <td><span class="badge badge-success">Done</span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="round-img">
                                                    </div>
                                                </td>
                                                <td>Exodus</td>
                                                <td><span>Ethereum</span></td>
                                                <td><span>.04 eth</span></td>
                                                <td><span class="badge badge-success">Done</span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="round-img">
                                                    </div>
                                                </td>
                                                <td>Electrum</td>
                                                <td><span>Bitcoin</span></td>
                                                <td><span>.5 btc</span></td>
                                                <td><span class="badge badge-warning">Pending</span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="round-img">
                                                    </div>
                                                </td>
                                                <td>Mycelium</td>
                                                <td><span>Litecoin</span></td>
                                                <td><span>10 ltc</span></td>
                                                <td><span class="badge badge-success">Done</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
					<div class="col-lg-8">
						<div class="row">
						<div class="col-lg-6">
							<div class="card">
								<div class="card-title">
									<h4>Notifications</h4>
								</div>
								<div class="recent-comment">
									<div class="media">
										<div class="media-left">
										</div>
										<div class="media-body">
											<h4 class="media-heading">ETH</h4>
											<p>ETH 2.0 Scheduled for December, Vitalik Deposits $1.4M Worth of Ether Into Phase 0 Contract</p>
											<p class="comment-date">November 07, 2020</p>
										</div>
									</div>
									<div class="media">
										<div class="media-left">
										</div>
										<div class="media-body">
											<h4 class="media-heading">Central Banks</h4>
											<p>Central Banks Dump Gold for the First Time Since 2010, Precious Metal Drops 9% Since August High</p>
											<p class="comment-date">October 20, 2020</p>
										</div>
									</div>

									<div class="media">
										<div class="media-left">
										</div>
										<div class="media-body">
											<h4 class="media-heading">Markets & Prices</h4>
											<p>Major Defi Token Prices Plunge, as Money Moves Back Into Bitcoin</p>
											<p class="comment-date">November 05, 2020</p>
										</div>
									</div>

									<div class="media no-border">
										<div class="media-left">
										</div>
										<div class="media-body">
											<h4 class="media-heading">Markets & Prices</h4>
											<p>First Mover: Resistance Is Futile as Bitcoin Breaches $15K, Crypto Gets Greedy</p>
											<div class="comment-date">November 01, 2020</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /# card -->
						</div>
						<!-- /# column -->
						<div class="col-lg-6">
							<div class="card">
								<div class="card-body">
									<div class="year-calendar"></div>
								</div>
							</div>
						</div>


						</div>
					</div>

				    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Customer Support</h4>
                                
                                <div class="card-content">
                                    <div class="todo-list">
                                        <div class="tdl-holder">
                                            <div class="tdl-content">
                                                <ul>
                                                    
															<center><img src="static/images/support.png" height="100px"></center>
														
                                                </ul>
                                            </div>
                                            <input type="text" class="tdl-new form-control" placeholder="Ask your queries..">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <small><footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer></small>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="static/js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="static/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="static/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="static/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="static/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="static/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->


    <!-- Amchart -->
    <script src="static/js/lib/jquery/jquery.min.js"></script>
    <script src="static/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="static/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="static/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/lib/chartist/chartist.min.js"></script>
    <script src="static/js/lib/chartist/chartist-plugin-tooltip.min.js"></script>
    <script src="static/js/lib/chartist/chartist-init.js"></script>

    <script src="static/js/lib/chartist/chartist.min.js"></script>
    <script src="static/js/lib/chartist/chartist-plugin-tooltip.min.js"></script>
    <script src="static/js/lib/chartist/chartist-init.js"></script>

	<script src="static/js/lib/calendar-2/moment.latest.min.js"></script>
    <!-- scripit init-->
    <script src="static/js/lib/calendar-2/semantic.ui.min.js"></script>
    <!-- scripit init-->
    <script src="static/js/lib/calendar-2/prism.min.js"></script>
    <!-- scripit init-->
    <script src="static/js/lib/calendar-2/pignose.calendar.min.js"></script>
    <!-- scripit init-->
    <script src="static/js/lib/calendar-2/pignose.init.js"></script>

    <script src="static/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="static/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <script src="static/js/scripts.js"></script>
    <!-- scripit init-->

    <script src="static/js/custom.min.js"></script>

</body>

</html>